@media only screen and (min-width: 620px) {

}
@media only screen and (min-width: 1080px) {
    .wrapping-text {
        display: grid;
        grid-template-columns: 120px 840px 120px;
        grid-template-rows: 100%;
        margin-bottom: 80px;
        max-width: 1080px;
    }
    .buttom-align {
        text-align: center;
    }
    .left-quotation i{
        color: #0c0;
        font-size: 100px;
        position: absolute;
    }
    .right-quotation i{
        color: #0c0;
        font-size: 100px;
        position: absolute;
    }
    .front-page-quotes {
        max-width: 840px;
        padding: 0 70px;
        p {
            margin-top: 0px;
        }
    
    }
}
