/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

// Website styling
body {
	background-color: #222;
}

#primary {
	max-width: 1080px;
	margin: 0 135px;
}

// Quotations and grid:


// Nav buttom, footer
#site-navigation {
	padding: 20px 0px;
	height: 70px;
	display: flex;
	justify-content: flex-end;
	p {
		padding: 0 10px;
		width: 300px;
		margin: 0;
		height: 30px;
	}
}

#primary-menu {
	list-style: none;
	padding: 0 10px;
	li a{
		text-decoration: none;
		color: #0c0;
		border-right: 1px solid white;
		padding: 0 10px;
	}
}

footer{
max-width: 1080px;
min-width: 1080px;
margin: 0 135px;
}

// Submit a quotation specifics
.front-page-quotes .entry-content p {
	font-size: 18px;
}