
/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
@font-face {
    font-family: Exo Web;
    src: url('../../project-05/assets/fonts/exo-light-webfont.ttf') format('truetype');
}
@font-face {
    font-family: Exo_Web_Italic_Light;
    src: url('../../project-05/assets/fonts/exo-lightitalic-webfont.ttf') format('truetype');
}
@font-face {
    font-family: Exo_Web_Italic_Medium;
    src: url('../../project-05/assets/fonts/exo-mediumitalic-webfont.ttf') format('truetype');
}
@font-face {
    font-family: Exo_Web_Medium;
    src: url('../../project-05/assets/fontsexo-medium-webfont.ttf') format('truetype');
}