.quotes-on-dev {
    font-size: 6rem;
    color: white;
    text-align: center;
    margin:0 0 70px 0;
    padding-top: 27px;
    a{
        text-decoration: none;
        color: white;
    }
    span {
        color: #00cc00;
        font-style: italic;
    }
}