.category {
    width: 100%;
    margin-left: auto ;
    margin-right: auto ;
    h2 {
        color: white;
    }
    ul {
        padding: 0px;
        margin: 0px;
    }
    .archive-list {
        display: inline-flex;
        padding: 0 15px 0px 0; 
        a {
            text-decoration: none;
            list-style: none;
            padding: 2px;
            color: #0c0;
            font-size: 1rem;
        }
    }
}

// Categories:
.number-pagination{
    color: #0c0;
    text-decoration: none;
    .page-numbers{
        color: #0c0;
        text-decoration: none;
    }
    span {
        color: #0c0;
    }
}

.category-page-quotes{
	padding: 0 5px;
	p {
        margin-top: 0px;
        font-size: 1.25rem;
	}
    .refresh {
        border-bottom: dotted;
        border-top: dotted;
        border-width: 1px;
    }
}